# Text Data Cleaning - Introduction

## Overview of Topics Covered:

### 0 - Introduction

* Python Strings
* String Methods
* Functions

### 1 - Ask A Manager - Salary Survey

* *Messy* Data from Google Forms surveys
* ...Like, *really* messy
* Converting Strings to Integers
* Augmenting data
* Pandas `.merge()`

### 2 - Actors Who Have Portrayed The Doctor

* Extracting text data from a Wikipedia table
* Pandas `.read_html()`
* Regular Expressions
* Timeline visualization

### 3 - Goodreads - Book Ratings

* Reading in a badly-formatted dataset
* Cleaning before loading into pandas

### 4 - Behavioral Risk Factor Surveillance System (BRFSS) 2014

* PDFMiner - Extracting text data from PDF files
* Using a Dictionary to Replace Values

# Python Strings

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## What are Strings?

Strings are basic units of text. They can contain any character. Python recognizes input as a string when it's enclosed in matching quotation marks.

Strings can be combined using the "+" operator. Say we have two string variables that denote the start date and end date of a process, and we want to print them out in a coherent sentence. We can do so like this:

In [2]:
start_date = '2024-05-01'
end_date = '2024-05-31'

#Notice the spaces around "to".
full_string = start_date + " to " + end_date

print(full_string)

2024-05-01 to 2024-05-31

### Coding Exercise: "+" in Different Contexts

In [ ]:
string_var1 = 'book'
string_var2 = 'shelf'

int_var1 = 1
int_var2 = 2

print(string_var1 + string_var2)
print(int_var1 + int_var2)

################################################################################
################################################################################

# What happens if you add string_var1 and int_var1?
string_var1 + int_var1

################################################################################
################################################################################

### Escape Characters

"`\`" is called an "escape character" in Python (and in markdown cells). Placing an escape character before another character in a string will cause a different behavior from the character by itself. In Python strings, "\\t" represents a tab, and "\\n" represents a newline character.

Also, in order for a "\\" to show up correctly in markdown cells, it has to have another \\ in front of it. "\`" (grave) is another special character that functions as an escape character in some contexts in markdown, but not in code cells.

Double-click in this cell to see how many backslashes and graves there actually are in the markdown text.

In [9]:
print('line 1\n\n\n\n\n\n\tline 2 (tab-indented)')

line 1





	line 2 (tab-indented)

## String Methods

String objects in Python have built-in functions called "methods" that allow specific operations to be performed without the need to write additional code. There are over 40 string methods, each of which with its own specific task.

Like all methods, these are accessed by using the dot operator after the string variable, the name of the method, and open-and-closed parentheses, i.e.: `string_name.method()`.

https://www.w3schools.com/python/python_ref_string.asp

In [66]:
string_var3 = "My parents and I moved back to California from Berlin in September, 1989. \nI had just turned three years old."

In [67]:
print(string_var3)

My parents and I moved back to California from Berlin in September, 1989.
I had just turned three years old.

In [68]:
print(string_var3.upper())

MY PARENTS AND I MOVED BACK TO CALIFORNIA FROM BERLIN IN SEPTEMBER, 1989.
I HAD JUST TURNED THREE YEARS OLD.

In [69]:
print(string_var3.lower())

my parents and i moved back to california from berlin in september, 1989.
i had just turned three years old.

In [70]:
print(string_var3.capitalize())

My parents and i moved back to california from berlin in september, 1989.
i had just turned three years old.

In [71]:
print(string_var3.title())

My Parents And I Moved Back To California From Berlin In September, 1989.
I Had Just Turned Three Years Old.

In [72]:
print(string_var3.swapcase())

mY PARENTS AND i MOVED BACK TO cALIFORNIA FROM bERLIN IN sEPTEMBER, 1989.
i HAD JUST TURNED THREE YEARS OLD.

In [73]:
print(string_var3.isalpha())

False

In [74]:
print(string_var3.count('i'))

4

In [75]:
print(string_var3.split())

['My', 'parents', 'and', 'I', 'moved', 'back', 'to', 'California', 'from', 'Berlin', 'in', 'September,', '1989.', 'I', 'had', 'just', 'turned', 'three', 'years', 'old.']

In [76]:
print(string_var3.split(', '))

['My parents and I moved back to California from Berlin in September', '1989. \nI had just turned three years old.']

In [77]:
print(string_var3.splitlines())

['My parents and I moved back to California from Berlin in September, 1989. ', 'I had just turned three years old.']

In [78]:
print(string_var3.replace('1989', '2015'))

My parents and I moved back to California from Berlin in September, 2015.
I had just turned three years old.

In [79]:
print(string_var3.replace(' ', ''))

MyparentsandImovedbacktoCaliforniafromBerlininSeptember,1989.
Ihadjustturnedthreeyearsold.

In [81]:
print(string_var3.partition('1989'))

('My parents and I moved back to California from Berlin in September, ', '1989', '. \nI had just turned three years old.')

### Coding Exercise: String Methods

Type your own sentence in the following cell, then try out different string methods on it to see how they affect the string.

In [ ]:
################################################################################
################################################################################

string_var4 = "___"
print(string_var4)

################################################################################
################################################################################

## Converting Types

`str()` lets you change an integer or a float into a string. Python also has `int()` and `float()` for converting to other data types.

In [5]:
print(int('3'))
print(int(3.0))
print(int(3.8))
print(float(3))
print(str(3.8))

3
3
3
3.0
3.8

### Coding Exercise: Strings and Quotation Marks

Try replacing the double-quotes around the string with single-quotes.

In [10]:
################################################################################
################################################################################

string2 = "This doesn't work unless you use double-quotes to open and close the string."
print(string2)

################################################################################
################################################################################

This doesn't work unless you use double-quotes to open and close the string.

## Functions

In [ ]:
Here are a few functions that will let us manipulate strings.

https://docs.python.org/3.5/tutorial/controlflow.html#documentation-strings

In [14]:
def separate_words(sample_string: str, delimiter=' ') -> list:
	words = sample_string.split(delimiter)
	return words

def add_elipses(sample_string: str) -> str:
  return(sample_string+'...')

def join_words(sample_list: list, delimiter=' ') -> str:
	title = delimiter.join(sample_list)
	return title

input_string = 'Please speak more slowly'
join_words([add_elipses(word) for word in separate_words(input_string)])

'Please... speak... more... slowly...'

### Coding Exercise 7: Functions as an Assembly Line

Try using each function (`separate_words()`, `add_elipses()`, `join_words()`) by itself, using the same input string.

In [ ]:
################################################################################
################################################################################

join_words(input_string)

################################################################################
################################################################################